<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100487567019-1po5i9q103ima8omlgbo0vs5ikqk52st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100487567019-1po5i9q103ima8omlgbo0vs5ikqk52st</string>
	<key>API_KEY</key>
	<string>AIzaSyAzFhZ1s4aOqVh_IkvBstnVj4IiUgU22As</string>
	<key>GCM_SENDER_ID</key>
	<string>100487567019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-learn-463e0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learn-463e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100487567019:ios:aac76aa2e1adacd312c9ee</string>
</dict>
</plist>